@use "./abstracts/vars";
@use "./abstracts/colors";

body{
    background: colors.$accent;
    padding: 3rem;
    gap: 2rem;
    font-family: vars.$font-family;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}