@use "../../abstracts/colors";

.section__right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}

.description {

    &__header {
        height: 35%;
        min-height: 15rem;
        max-height: 20rem;
        width: 100%;
        max-width: 60rem;
        position: relative;
        box-shadow: 0rem 0rem 1rem 0.1rem rgb(163, 163, 163);
        overflow: hidden;
        border-radius: 2rem;

        // ::before{
        //     content: "";
        //     height: 100%;
        //     width: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     background-color: rgb(255, 0, 0);
        //     opacity: 0.1;
        // }
    }

    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__date{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__title{
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }

    &__text{
        padding-right: 4rem;
        margin: 2rem;
        max-height: 15ch;
        max-width: 70ch;
        overflow: scroll;
        overflow-x: hidden;
        box-shadow: 0rem 0rem 1rem 0.3rem rgb(211, 211, 211);
        padding: 1rem;
    }

    &__buttonWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
        width: 60%;
    }

    &__button{
        padding: 1rem;
        border-radius: 1rem;
        background-color: colors.$accent;
        border: none;
        font-weight: 600;
        transition-duration: 0.2s;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__link{
        color: black;
        cursor: pointer;
    }
}