@use "../../abstracts/vars";

.episodes{
    height: calc(100% - 15rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;

    &__left{
        background-color: green;
        width: 50%;
        height: 100%;
    }

    &__right{
        background-color: purple;
        width: 50%;
        height: 100%;
    }
}