.section__left {
    width: 50%;
    height: 100%;
    padding: 5%;
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.episodes {
    height: auto;
    aspect-ratio: 1/1;
    display: grid;
    
    grid-template-columns: 17rem 17rem;
    grid-template-rows: 17rem 17rem;
    list-style: none;
    grid-gap: calc(100% - 30rem);
    z-index: 1;

    &__episode {
        position: relative;
        box-shadow: 0rem 0rem 1rem 0.3rem rgb(130, 130, 130);
        transition-duration: 0.2s;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &__img{
        height: 100%;
        width: 100%;
    }

    &__date {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background: none;
        font-size: 80%;
    }

    &__title {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        background: none;
        font-size: 80%;
    }
}