@use "../../abstracts/vars";

.main {
    height: 100%;
    width: 100%;
    max-width: 170rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.midSection{
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-color: white;
    height: calc(100% - 15rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}