@use "../../abstracts/vars";

.main {
    height: 100%;
    width: 100%;
    max-width: 170rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0rem 0rem 1rem 0.3rem rgb(175, 175, 175);
}

.midSection{
    height: calc(100% - 15rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}