@media screen and (max-width: 1500px) {
    .midSection {
        flex-direction: column;
        height: auto;
    }

    .section__left {
        width: 100%;
        height: auto;
        padding: 1rem;
    }

    .section__right {
        width: 100%;
    }

    .episodes {
        margin-bottom: 2rem;

        &__grouper {
            height: 50%;
        }
    }
}


@media screen and (max-width: 1000px) {
    .episodes{
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .main {
        height: auto;
        padding: 0;
    }

    .midSection{
        border-radius: 2rem;
        padding-bottom: 2rem;
    }

    .episodes {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        &__episode {
            min-height: 10rem;
        }
    }

    .footer {
        display: none;
    }
}