@use "../../abstracts/vars";

.header{
    height: 10rem;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;

    &__figure{
        height: 100%;
        aspect-ratio: 1/1;
    }

    &__img{
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &__title{
        
    }
}